<ul type="square">
    <li>Pokémon</li>
    <ol type="a">
        <li>Pikachu</li>
        <ul type="circle">
            <li>le plus mignon</li>
        </ul>
        <li>Bulbizarre</li>
    </ol>
    <li>Sports</li>
    <ol type="I" start="5">
        <li>Chasser les pokémon</li>
        <ol type="A">
            <li>Et attraper le bus</li>
        </ol>
        <li>Sauter en parachute</li>
        <ul type="none">
            <li>Sans puce !</li>
        </ul>
    </ol>
</ul>