<style type="text/css">
    form {
        width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    form > div {
        margin: 10px;
    }
    form > div > div {
        display: inline-block;
        width: 200px;
    }

</style>

<form method="get" action="exo17.html" novalidate>
    <div>
        <div>Adresse email</div>
        <input type="email" name="email" required>
    </div>
    <div>
        <div>Date de naissance</div>
        <input type="date" name="naissance" required>
    </div>
    <div>
        <div>Site web</div>
        <input type="url" name="site" required>
    </div>
    <div>
        <div>Couleur favorite</div>
        <input type="color" name="color" value="#FF0000" required>
    </div>
    <div>
        <div>Nombre préféré</div>
        <input type="number" name="nombre" required>
    </div>
    <div>
        <div>Donnez une note à ce cours (de 1 à 5)</div>
        <input type="range" min="1" max="5" name="note" required>
    </div>
    <div>
        <input type="submit" value="soumettre">
    </div>
</form>