/**
 * POSITIONNEMENT ABSOLU
 *
 * Avec le positionnement absolu, l'élément est enlevé du flot habituel du document. Cela signifie que
 * l'espace qu'il utilise ne sera pas honoré par les éléments qui l'entourent .
 *
 * Si on ne spécifie aucun box-offset, un élément absolu est placé en haut à gauche de son parent. Si on spécifie
 * des offsets (top, left, right, bottom), cet offset sera relatif au premier parent ayant un positionnement
 * relatif ou absolu. Si aucun n'est trouvé, l'offset sera par-rapport au body.
 *
 * ATTENTION: vu que les éléments absolus ne font plus partie du flot du document, il ne prennent pas d'espace !
 * Dans cet exemple, cela signifie que .box-set devient "invisible": sa hauteur dépend de son contenu et vu que
 * tous ses enfants sont "absolus" (ne prennent pas d'espace), il a finalement une hauteur de zéro.
 */

/**
 * A FAIRE:
 * - fixez la hauteur de box-set (exemple: 100px)
 * - positionnez les box en absolu
 * - ajoutez des offsets au box.
 * - positionnez le box-set en static (defaut), relatif, puis absolu (dans ce cas, pensez à donner un largeur à box-set).
 *    Regardez les différences.
 */


.box-set {
    position: relative;
    height: 200px; /* pour qu'on puisse le voir */
}

.box {
    position: absolute;
}

.box-1 {
    right: 0;
}

.box-2 {
    left: 0;
}

.box-3 {
    bottom: 50%;
    left: calc(50% - 50px);
}

.box-4 {
    left: 100px;
    top: 120px;
}