/**
 * POSITIONNEMENT FIXE
 *
 * Le positionnement fixe est très similaire au positionnement absolu. Les grandes différences sont:
 * 1. l'élément est toujours placé par-rapport au viewport du navigateur, càd. la partie visible de la page.
 * Ainsi, changer le type de positionnement d'un parent n'aura jamais aucun impact.
 * 2. l'élément ne bouge pas quand l'utilisateur fait défiler le contenu (scroll).
 *
 * fixed ne marche pas sur IE 6.
 *
 * Si on ne spécifie pas de box-offset, le comportement est le même que pour le positionnement absolu.
 */

.box {
    position: fixed;
}

.box-set {
    position: relative;
    height: 200px; /* pour qu'on puisse le voir */
}

.box-1 {
    right: 0;
}

.box-4 {
    left: 0;
}

.box-3 {
    top: 0;
}

.box-4 {
    bottom: 0;
}