.box {
    float:left;
}

.box-set {
    overflow: auto;
}

.box-set:before,
.box-set:after {
    content: "";
    display: table;
}
.box-set:after {
    clear: both;
}
.box-set {
    background: #eaeaed;
    *zoom: 1;
}