/**
 * POSITIONNEMENT RELATIF
 *
 * Très similaire au positionnement statique. La seule différence est que l'on peut utiliser les
 * propriétés dites de "box offset": left, right, top, bottom. Cela spécifie comment un élément doit être
 * positionné PAR-RAPPORT à sa position d'origine (i.e. sa position statique).
 *
 * Notez que les éléments sont décalés, mais "utilisent" toujours l'espace d'origine --> il se peut que
 * les décalages crée des chevauchements.
 *
 * Bon à savoir: si on déclare à la fois top et bottom, top a la priorité. Si on déclare à la fois left et right,
 * la direction qui suit la direction du texte gagne. En anglais/français, ce sera donc left et en arabe right.
 */

.box {
    position: relative;
}

.box-1, .box-3 {
    right: 20px;
    top: 30px;
}

.box-2, .box-4 {
    right: -20px;
    top:10px;
}