#mask, #letters {
    width: 400px;
    height: 400px;
    transition: transform 1s ease;
    position: absolute;
}

#container {
    margin: 20px auto;
    position: relative;
}

#mask {
    pointer-events: none;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    width: 16.6%;
    height: 16.6%;
    float: left;
}

.letter {
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

#mask .cell {
    background: black;
    border-color: white;
}

#mask .cell-4, #mask .cell-9, #mask .cell-11, #mask .cell-12, #mask .cell-14, #mask .cell-19, #mask .cell-21, #mask .cell-30, #mask .cell-31 {
    background: transparent;
    border-color: black;
    visibility: hidden;
}



