* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, serif;
    background: white;
}

.light-gray {
    background-color: #f1f1f1;
}

.dark-grey {
    background-color: #616161;
}

p {
    margin: 15px 0;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* add this rule */
.cards {
    text-align: center;
    padding-top: 10px;
}

.card {
    display: inline-block;   /* add this */
    vertical-align: top;
    text-align: left;
    max-width: 400px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card header {
    font-size: 24px;
    padding: 0.01em 16px;
}

.card h3 {
    font-weight: 400;
    margin: 10px 0;
}

.card-container{
    padding: 6px 16px;
}

.card button {
    width: 100%; /* add full width */
    display: block;
    border:none;
    padding: 10px 5px;
    color:white;
    font-size: 1.2em;
}

.card .card-summary {
    background: #f9f9f9;
    overflow: auto; /* add this */
}

 /*add the following styles*/
.card img {
    float: left;
    border-radius: 50%;
    margin-right:10px;
    margin-bottom: 10px;
}


.card .card-msg {
    clear: both;
    font-style: italic;
}