/*source: http://themarklee.com/2013/09/29/repeating-patterns-nth-child/*/
/*EX 1: 3 colors*/

.ex1 div:nth-child(3n+1){
    background: #FF7100;
}
.ex1 div:nth-child(3n+2){
    background: #FFB173;
}
.ex1 div:nth-child(3n+3){
    background: #A64A00;
}


/*EX 2: gradient*/

.ex2 div:nth-child(4n+1){
    background: #ccc;
}
.ex2 div:nth-child(4n+2){
    background: #999;
}
.ex2 div:nth-child(4n+3){
    background: #666;
}
.ex2 div:nth-child(4n+4){
    background: #333;
}


/*ex 3: colorful */

.ex3 div:nth-child(7n+1){
    background: red;
}
.ex3 div:nth-child(7n+2){
    background: orange;
}
.ex3 div:nth-child(7n+3){
    background: yellow;
}
.ex3 div:nth-child(7n+4){
    background: green;
}
.ex3 div:nth-child(7n+5){
    background: blue;
}
.ex3 div:nth-child(7n+6){
    background: indigo;
}
.ex3 div:nth-child(7n+7){
    background: violet;
}


html body .carrot {  color: red !important;  }
#para1 .carrot {  color: blue;  }
.carrot {  color: green !important;  }

