body {
    background-color: #96A8C8;
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
    font-family: Lucida,Helvetica,sans-serif;
    font-weight: 500;
    padding: 20px 0;
}

/* style of the white containers */
.container {
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    background: white;
    border: 1.5px solid #071419;
    border-radius: 12px;
}

/*== button ==*/


button {
    background-color: #6E7B91;
    color: #FFF;
    border: 1.5px solid #333;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 12px;
    margin: 0 4px;
    text-decoration: none;
    box-shadow: 0 0 5px 0 gray;
    border-radius: 3px;
}

button:hover {
    background-color: #FFF;
    color: #6E7B91;
    box-shadow: none;
}

/*== error ==*/
#error {
    color: red;
}

/*== xkcd ==*/

.head {
    margin-bottom: 10px;
}

.num:before {
    content: 'N° ';
}
.date:before {
    content: ' on ';
}

img {
    display: block;
    margin: 22px auto;
}

.transcript {
    padding-top: 30px;
    white-space: pre-wrap;
    font-weight: 300;
    font-size: .9em;
}
