<table border="1">
    <tbody>
    <thead>
        <th colspan="3">Multiple</th>
        <th>Exemple:</th>
    </thead>
    <tr>
        <td>Préfixe</td>
        <td>Symbole</td>
        <td>Multiplicateur</td>
        <td rowspan="5" valign="middle">
            1 500 000 000<br/>
            c'est<br/>
            1,5 Go = 1500 Mo
        </td>
    </tr>
    <tr>
        <td>téra</td>
        <td>T</td>
        <td>10<sup>12</sup></td>
    </tr>
    <tr>
        <td>giga</td>
        <td>G</td>
        <td>10<sup>9</sup></td>
    </tr>
    <tr>
        <td>méga</td>
        <td>M</td>
        <td>10<sup>6</sup></td>
    </tr>
    <tr>
        <td>kilo</td>
        <td>K</td>
        <td>10<sup>3</sup></td>
    </tr>
    </tbody>
</table>
