h1, h2 {
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
}

#heading {
    font-weight: bold;
}

p {
    text-align: justify;
}

div {
    text-align: right;
}

a {
    color: green;
}

span.it {
    font-style: italic;
}

.pays {
    color: blue;
}

#en {
    color: red;
}